.DS_Store
.vscode/
.sass-cache/
.vscode/
.tmp
acf-migrations.phar
acf/export.php
bower_components
build/*
composer.phar
credentials.json
mix-manifest.json
node_modules
npm-debug.log
resources/.sass-cache
resources/img/sprites.svg
resources/sass/components/_components.sprites.scss
resources/sass/settings/_settings.config.scss
sw.js
precache-manifest*
vendor/*
yarn-error.log
